[submodule "Source/cpp-submodules"]
	path = Source/cpp-submodules
	url = https://github.com/lucoiso/cpp-submodules.git
[submodule "Resources/Assets/glTF-Sample-Assets"]
	path = Resources/Assets/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
