[submodule "Modules/cpp-submodules"]
	path = Modules/cpp-submodules
	url = https://github.com/lucoiso/cpp-submodules.git
[submodule "Modules/ThirdParty/vulkan-glslang"]
	path = Modules/ThirdParty/vulkan-glslang
	url = https://github.com/KhronosGroup/glslang.git
